@import url(../photo-grid/__item/photo-grid__item.css);

.photo-grid {
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  margin: 92px 0 auto;
  padding: 0 48px;
  grid-gap: 16px;

}