@import url(../photo-grid/__item/photo-grid__item.css);

.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  padding: 92px 48px 0;
  grid-gap: 16px;
}


@media screen and (max-width: 1028px) {
  .photo-grid {
    grid-template-columns: repeat(3, auto);
    grid-gap: 14px;
  }
}

@media screen and (max-width: 777px) {
  .photo-grid {
    grid-template-columns: repeat(2, auto);
    padding: 88px 24 0;
    grid-gap: 16px;
  }
}

@media screen and (max-width: 333px) {
  .photo-grid {
    grid-template-columns: repeat(1, auto);
    padding: 64px 16px 0;
    grid-gap: 12px;
  }
}