.places {
  margin: 0;
  padding: 0 148px 0;
}


@media screen and (max-width: 1028px) {
  .places {
    padding: 0 48px 0;
  }
}

@media screen and (max-width: 720px) and (min-width: 322px) {
  .places {
    padding: 0 24px 0;
  }
}

@media screen and (max-width: 333px) {
  .places {
    padding: 0;
  }
}