.header__lang-link_active_en {
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    list-style: none;
}

.header__lang-link_active_en:hover {
    opacity: 0.8;
}