.lead__title {
  max-width: 720px;
  max-height: 200px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  margin: 0 auto 32px auto;
}


@media screen and (max-width: 777px) {
  .lead__title{
    font-size: calc(12vw);
    line-height: normal;
  }
}

@media screen and (max-width: 333px) {
  .lead__title {
    margin: 0 auto 16px auto;
    font-size: 40px;
    line-height: 44px;
  }
}