.footer__copyright {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}

@media screen and (max-width: 333px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 14px;
    margin: 0;
    padding-bottom: 24px;
  }
}