.place__website_source_link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
  padding-top: 12px;
}

.place__website_source_link:hover {
  opacity: 0.8;
}