.cover__title {
  max-width: 560px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  z-index: 6;
  margin: 0;
}


@media screen and (max-width: 720px) {
  .cover__title {
    font-size: calc(11vw);
    line-height: 1;
    max-width: 80%;
  }
}

