.place__paragraph_second {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    margin: 0;
  }


  @media screen and (max-width: 777px) {
    .place__paragraph_second{
      font-size: 16px;
      line-height: 26px;
    }
  }

  @media screen and (max-width: 333px) {
    .place__paragraph_second {
      padding: 0 16px 0;
    }
  }