.footer__list_item {
  margin-right:  0;
}



@media screen and (max-width: 520px) and (min-width: 334px) {
  .footer__list_item {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 333px) {
 .footer__list_item {
   margin-bottom: 32px;
 }
}